src/main/mule/sf-integration-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7c45c540-8891-455a-a244-148e129974b0" basePath="/">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="6dcda2d6-269f-4bb6-91cd-7dfc8a0a7bbd" fetchAllApexRestMetadata="true">
		<salesforce:basic-connection username="swong+4@copado.com.sfdev1" password="C0p@d0Swong4" securityToken="w8NPcl9fwtThLodE5t45vFph" url="https://test.salesforce.com/services/Soap/u/53.0" />
	</salesforce:sfdc-config>
	<flow name="salesforce-accounts-integrationFlow" doc:id="57a47ca4-1b75-4520-998a-1e2e7bc80b51" >
		<http:listener doc:name="Listener" doc:id="c848ed77-98fe-41c1-b188-5b84a3137162" config-ref="HTTP_Listener_config" path="/self-service"/>
		<logger level="INFO" doc:name="Logger" doc:id="595b3388-8b6f-4a82-baf5-9398acdd61c4" message='#["Test Apex API has started"]'/>
		<set-payload value="Retrieved Lots of Data" doc:name="New Mock API" doc:id="ec538e84-6e4d-42d1-b8f2-0d7e510bf7fe" />
		<ee:transform doc:name="Transform Message" doc:id="5a65d9a9-5c67-42ce-9004-0c28d64f8603" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fa4fee9f-5c7f-45ab-b3a7-9c135478a7e2" message="#[payload]"/>
	</flow>
</mule>
